@font-face {
  font-family: "Poppins";   /*Can be any text*/
  src: local("Poppins"),
    url("./fonts/Poppins-Black.ttf") format("ttf");
}
body{
  font-family: "Poppins",sans-serif;
  background-color: rgb(244, 244, 244);
}
.image{
  width:100%;
}
.seeMore{
   border-radius: 30px;
}
.seeMore:hover{
  box-shadow: 0px 0px 10px rgb(2, 65, 8);
}

